rich==13.7.1
pyinstaller==6.9.0
kubernetes==30.1.0
argocd==0.5.0

altgraph==0.17.4
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==2.1.1
google-auth==2.32.0
idna==3.7
importlib_metadata==8.0.0
jenkinsapi==0.3.13
markdown-it-py==3.0.0
mdurl==0.1.2
oauthlib==3.2.2
packaging==24.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
Pygments==2.18.0
pyinstaller-hooks-contrib==2024.7
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.28.1
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
urllib3==1.26.19
websocket-client==1.8.0
zipp==3.19.2
